.navbar{
	background-color: #e2f2fc;
}

#toggle-btn{
	width: 34px;
	position: absolute;
	border: 1px solid black;
	
}
#toggle-btn>span{
	border: 1px solid black;
	height: 0.2px;
	width: 50px;
	display: inline-block;
}